<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<h1>Reports</h1>
<form action="/report/detail" method="GET">
    <select name="report" id="report">
        <option th:each="report : ${report}" th:value="${report}" th:text="${report}"></option>
    </select>
    <input type="submit" value="get"/>
</form>

<div th:if="${result}">
    <h2>Report</h2>
    <div th:utext="${result}"></div>
</div>
</body>
</html>